@{
    ViewData["Title"]="Game Creation Interface";
}
<h1>Success. The game has been created.</h1>
<p>Redirecting you to detail page....</p>
<meta http-equiv="refresh" content="2; url=/game" />
<!--<meta http-equiv="refresh" content="2; url=/team/detail/@ViewData["SuccessRedirectCode"]" />-->