@{
    ViewData["Title"]="Game Edit Interface";
}
<h1>Success. The Game has been updated.</h1>
<p>Redirecting you to detail page....</p>
<meta http-equiv="refresh" content="2; url=/game/detail/@ViewData["SuccessRedirectCode"]" />