@{
     ViewData["Title"] = "Home Page";
 }

 <div>
     <h1 class="display-4">Welcome to AdminService</h1>
     <h3>Interface for admin magagement</h3>
     <p>Brought to you by <a href="https://github.com/SkyMen-Lab">ThePong Team</a></p>
     <p>Made with ❤️ by <a href="https://github.com/N0ne1eft">N0ne1eft</a></p>
 </div>