@{
    ViewData["Title"]="Team Creation Interface";
}
<h1>Success. The team has been created.</h1>
<p>Redirecting you to detail page....</p>
<meta http-equiv="refresh" content="2; url=/team/detail/@ViewData["SuccessRedirectCode"]" />