@model AdminService.Models.Team
@{
    ViewData["Title"]="Team Creation Interface";
}
<h1>@ViewData["Title"]</h1>
<div>
    <form method="post">
        <div>School Name</div>
        <input asp-for="Name" />
        <div>RouterIPAddress</div>
        <input asp-for="Config.RouterIpAddress" />
        <div>Port</div>
        <input asp-for="Config.RouterPort" />
        <div>ConnectionType (Optional)</div>
        <input asp-for="Config.ConnectionType" />
        <p></p>
        <input type="submit" />
        <div style=color:red>@ViewData["ErrMsg"]</div>
    </form>
 </div>   
<div>
    <p></p>
    <h3>@ViewData["UpstreamResponse"]</h3>
    <p>@ViewData["UpstreamRawResponse"]</p>
    <div><a asp-action="Index">Go back to Team lists</a></div>
</div>