@model AdminService.Models.Team
@{
    ViewData["Title"]="Team Deletion Interface";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p>@ViewData["UpstreamResponse"]</p>
    <p>@ViewData["UpstreamRawResponse"]</p>
    <div><a asp-action="Index">Go back to Team Lists</a></div>
</div>