@{
    ViewData["Title"]="Team Edit Interface";
}
<h1>Success. The team has been updated.</h1>
<p>Redirecting you to detail page....</p>
<meta http-equiv="refresh" content="2; url=@Url.Action("Detail", "Team", new { id=ViewData["SuccessRedirectCode"] })" />